body{
  margin: 0;
  padding: 0;
}
#ip{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  background: yellow;
  width: 200px;
  height: auto;
}
#city{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  background: lightgreen;
  width: 200px;
  height: auto;
}
