body{
  margin: 0;
  padding: 0;
}
#ipConf{
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: lightblue;
  transform: translate(-50%,-50%);
  font-size: 30px;
  width: 200px;
  height: auto;
}
#cityConf{
  position: absolute;
  top: 20%;
  left: 50%;
  background-color: lightblue;
  transform: translate(-50%,-50%);
  font-size: 30px;
  width: 200px;
  height: auto;
}
